--
-- PostgreSQL database dump
--

\restrict oCfqERrqUzIq8OLZAzbdHHyUAV5IHZ3Fu1QhJ4Pcj0UZFdvLpZsp6kerbc6t8sl

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_audit_log (
    id bigint NOT NULL,
    raw_name text NOT NULL,
    publisher text,
    proposed_action text,
    confidence numeric,
    reasoning text,
    created_at timestamp with time zone DEFAULT now(),
    software_id bigint,
    category_id bigint
);


ALTER TABLE public.ai_audit_log OWNER TO postgres;

--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ai_audit_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ai_audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: device_software; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_software (
    id bigint NOT NULL,
    device_id bigint,
    software_id bigint,
    version text,
    source text,
    last_seen_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.device_software OWNER TO postgres;

--
-- Name: device_software_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.device_software ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.device_software_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id bigint NOT NULL,
    device_id text NOT NULL,
    hostname text NOT NULL,
    username text,
    os text,
    os_version text,
    architecture text,
    last_seen_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: devices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.devices ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.devices_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: software; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.software (
    id bigint NOT NULL,
    name text NOT NULL,
    publisher text,
    category_id bigint,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.software OWNER TO postgres;

--
-- Name: software_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.software ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.software_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: software_validation_errors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.software_validation_errors (
    id bigint NOT NULL,
    device_id bigint NOT NULL,
    batch_id uuid,
    package_index integer,
    raw_name text,
    ai_raw_name text,
    action character varying(20),
    software_id bigint,
    category_id bigint,
    category_action character varying(20),
    software_name text,
    category_name text,
    confidence numeric(5,2),
    validation_errors jsonb DEFAULT '[]'::jsonb NOT NULL,
    ai_result jsonb,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    attempt integer DEFAULT 1 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    resolved_at timestamp without time zone
);


ALTER TABLE public.software_validation_errors OWNER TO postgres;

--
-- Name: software_validation_errors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.software_validation_errors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.software_validation_errors_id_seq OWNER TO postgres;

--
-- Name: software_validation_errors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.software_validation_errors_id_seq OWNED BY public.software_validation_errors.id;


--
-- Name: software_validation_errors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software_validation_errors ALTER COLUMN id SET DEFAULT nextval('public.software_validation_errors_id_seq'::regclass);


--
-- Data for Name: ai_audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, created_at) FROM stdin;
1	Browsers	2026-09-08 10:23:01.795067+00
2	Design	2026-09-08 10:23:01.795067+00
3	System	2026-09-08 10:23:01.795067+00
4	Development	2026-09-08 10:23:01.795067+00
\.


--
-- Data for Name: device_software; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.devices (id, device_id, hostname, username, os, os_version, architecture, last_seen_at) FROM stdin;
1	d069eff5eb755f78	KOMPUTER	Nadiia	Windows 11	10.0.22631	x64	2026-09-08 10:24:22.189756+00
\.


--
-- Data for Name: software; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: software_validation_errors; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: ai_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_audit_log_id_seq', 54, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 4, true);


--
-- Name: device_software_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_software_id_seq', 61, true);


--
-- Name: devices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.devices_id_seq', 2, true);


--
-- Name: software_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.software_id_seq', 53, true);


--
-- Name: software_validation_errors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.software_validation_errors_id_seq', 2, true);


--
-- Name: ai_audit_log ai_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_audit_log
    ADD CONSTRAINT ai_audit_log_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: device_software device_software_device_id_software_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_device_id_software_id_key UNIQUE (device_id, software_id);


--
-- Name: device_software device_software_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_pkey PRIMARY KEY (id);


--
-- Name: devices devices_device_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_id_key UNIQUE (device_id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: software software_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software
    ADD CONSTRAINT software_name_key UNIQUE (name);


--
-- Name: software software_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software
    ADD CONSTRAINT software_pkey PRIMARY KEY (id);


--
-- Name: software_validation_errors software_validation_errors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software_validation_errors
    ADD CONSTRAINT software_validation_errors_pkey PRIMARY KEY (id);


--
-- Name: idx_software_validation_errors_batch_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_software_validation_errors_batch_id ON public.software_validation_errors USING btree (batch_id);


--
-- Name: idx_software_validation_errors_device_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_software_validation_errors_device_id ON public.software_validation_errors USING btree (device_id);


--
-- Name: idx_software_validation_errors_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_software_validation_errors_status ON public.software_validation_errors USING btree (status);


--
-- Name: device_software device_software_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_software device_software_software_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_software
    ADD CONSTRAINT device_software_software_id_fkey FOREIGN KEY (software_id) REFERENCES public.software(id) ON DELETE CASCADE;


--
-- Name: ai_audit_log fk_ai_audit_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_audit_log
    ADD CONSTRAINT fk_ai_audit_category FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: ai_audit_log fk_ai_audit_software; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_audit_log
    ADD CONSTRAINT fk_ai_audit_software FOREIGN KEY (software_id) REFERENCES public.software(id);


--
-- Name: software software_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.software
    ADD CONSTRAINT software_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict oCfqERrqUzIq8OLZAzbdHHyUAV5IHZ3Fu1QhJ4Pcj0UZFdvLpZsp6kerbc6t8sl

